[submodule "dataServeA"]
	path = dataServeA
	url = https://github.com/oprcrinzc/dataserver
[submodule "dataServer"]
	path = dataServer
	url = https://github.com/oprcrinzc/dataserver
[submodule "userinterface"]
	path = userinterface
	url = git@github.com:oprcrinzc/userInterface.git
