[submodule "dataServeA"]
	path = dataServeA
	url = https://github.com/oprcrinzc/dataserver
[submodule "userinterface"]
	path = userinterface
	url = git@github.com:oprcrinzc/userInterface.git
[submodule "dataServer"]
	path = dataServer
	url = git@github.com:oprcrinzc/dataserver.git
[submodule "Sworker"]
	path = Sworker
	url = git@github.com:oprcrinzc/Sworker.git
